.form {
    background-color: brown;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin :auto;
    width: 50%;
    height: 78vh;
}
input {
    padding: 10px;
    border-radius: 30px;
    border: 5px solid bisque;
    width: 50%;
    margin: 10px;
}

.submit {
    color:burlywood;
    border-radius: 30px;
    border: 5px solid bisque;
    border-radius: 50px;
    width: 20%;
    padding: 10px;
    font-size: medium;
    margin-top: 20px;
}

label {
    color: bisque;
    padding: 5px;
}