button {
    border-radius: 30px;
    color: white;
    margin: 20px;
    height: 5vh;
  
}

.increment{
    background-color: green;
}
.decrement {
    background-color:red;
}
.reset {
    background-color:blue;
}

