body {
  background-color: rgb(240, 242, 245);
  min-height: 100vh;
}

#root {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem 1.5rem;

}

/* btn-colors {
  color: rgb(79, 70, 229);


  card
  background-color: rgb(238, 242, 255);
  color: rgb(67, 56, 202);

  green buttons
  background-color: rgb(220, 252, 231);
  color: rgb(22, 101, 52);


  star       color: rgb(217, 119, 6);

  } */