* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: bisque;
}

#root {
  background-color:lightgray;
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-content: center;
}

.counter {
  color: rgb(49, 134, 214);
  font-size: 5vw;
}

.red{
  color: red;
}
.green{
  color: green;
}